
 /* RESET-CSS START */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed-width{
    width: 1400px;
    margin: auto;
    max-width: 100%;
}
img{
    max-width: 100%;
}
body,h1,h2,h3,h4,h5,h6,span,a{
    font-family: 'Spartan', sans-serif;
}

 /* RESET-CSS-END */
/* main-CSS */
.nav-header{
    background: rgba(221, 221, 221, 0.534) !important;
    z-index: 100;
}
.logo{
    width: 80px;
}
.nav-header ul li{
    display: inline-block;
    list-style: none;
}
.nav-header ul li a{
    display: inline-block;
    font-size: 20px;
    padding: 0 18px ;
    font-weight: 500;
    text-decoration: none;
    color: #111; 
}
.nav-header ul li{
    position: relative;
}
.text{
    color: blueviolet !important;
}
.nav-header ul li a::after{
    content: "";
    position: absolute;
    left: 8px;
    height: 4px;
    top: 56px;
    width: 0;
    background: #fff;
    transition: .5s;
}
.nav-header ul li a:hover::after{
    width:90%;
    background: blueviolet;
}

.header-btn{
    color: blue;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}
.header-btn::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
    transition: .4s;
}
.header-btn:hover::after{
    width: 100%;
    background: rgba(0, 0, 200, 0.808);
}
    /* banner-section */

.banner-btn{
     padding: 10px 20px;
     font-size: 15px;
     color: #ddd;
     border-radius: 25px;
     position: relative;
      z-index: 1;
 }
.banner-btn::after{
    content: "";
     position: absolute;
     left: 0;
    top: 0;
    width: 0;
     height: 100%;
    border-radius: 25px;
    z-index: -1;
    transition: .4s;
}
.banner-text h2{
    font-size: 40px; 
    margin-top: 60px;
    margin-bottom: 25px;
}
.banner-text p{
    margin-bottom: 35px;
}
.banner-section{
    background: rgba(221, 221, 221, 0.822);
    overflow: hidden;
}
.banner-btn:hover::after{
    width: 100%;
    background: #fff;
    color: black !important;
}
.banner-image{
    position: relative;
    top: -90px;
    right: -158px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden;
}
.banner-image img{
    width: 100%;
    height: 100%;
}
/* content-section */

.content-text h2{
    font-size: 42px;
    font-weight: 500; 
    margin-top: 20px;
    margin-bottom: 25px;

}
.content-text p{
    margin-bottom: 35px;
}
.display-icon{
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 25px;
    color: #fff;
    background: rgb(128, 22, 228);
    border-radius: 50px 50px 50px 0;
    position: relative;
}
.display-icon::after{
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    top: 80px;
    width: 30px;
    background: blueviolet;  
}
    /* about-section */
.about-section{
    /* width: 100%; */
     height: 90vh;
    background: url(./img/video-bg.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.about-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 45, 122, 0.705);
    z-index: -1;
}
.animation{
    align-items: center;
    justify-content: center;
    display: flex;
}
.play-btn{
    font-size: 40px;
    background-color: #fff;
    text-decoration: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.play-btn::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: play 2s ease-in-out infinite;
}
.play-btn::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: play 2s ease-in-out infinite;
}
@keyframes play{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.2);
        opacity: 0;
    }

}
    /* pricing-section */

.finix-text h5{
    color: blueviolet;
    margin-bottom: 12px;
}
.finix-text h2{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 15px;
    position: relative;
}
.finix-text h2::after {
    content: "";
    position: absolute;
    left: 519px;
    height: 2px;
    top: 50px;
    width: 40px;
    background: blueviolet;
}
.finix-text p{
    color: #666;
}
.pricing-card h5{
    padding: 15px 0;
   
}
.pricing-card h2{
    font-size: 50px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 30px;   

}
.pricing-card{
    transition: all 0.5s;
}
.pricing-card:hover{
    background: rgba(34, 34, 241, 0.829);
    color: #fff;
}
.card-botton{
    border: none;
}
    /* slider-section */
.slider-section{
    background: url(./img/free-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 189, 0.658);
    z-index: -1;
}
.slider-text{
    margin-top: 105px;
}
.slider-text h5{   
    margin-bottom: 12px;
}
.slider-text h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    position: relative;
}
.slider-text h2::after {
    content: "";
    position: absolute;
    left: 250px;
    height: 2px;
    top: 75px;
    width: 40px;
    background:#fff ;
}
.slider-text p{
    color: #666;
}
.button{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 25px;
    position: relative;
    border: none;
}
.button::after{
    content: "";
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 25px;
    transition: .4s;
}
.button:hover::after{
    background: rgb(106, 27, 180);
    color: #fff !important;
    width: 100%;
}
    /* news-letter-section */
.news-card p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 45px;
}